<p>
  <%# f.label "題名" で日本語表記にできる %>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
<p>
<% if local_assigns[:edit_flag].present? %>
  <%= f.submit '更新' %>
<% else %>
  <%= f.submit '送信' %>
<% end %>
</p>
