<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">

    <% #if local_assigns[:edit_flag].present? %>
      <%#= render 'shared/errors_edit', obj: @article %>
    <%# else %>
      <%#= render 'shared/errors_new', obj: @article %>
    <%# end %>

    <%= render(@article.new_record? ? 'shared/errors_new' : 'shared/errors_edit', obj: @article) %>

      <div class="shadow p-3 mb-3 bg-info rounded">
        <div class="mb-3 row">
          <%# f.label "題名" で日本語表記にできる %>
          <%= f.label :title, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "タイトルを入力してください" %>
          </div>
        </div>

        <div class="mb-3 row">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "本文を入力してください" %>
          </div>
        </div>

        <div class="mb-3 row">
          <%= f.label "カテゴリー", class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.collection_select :category_ids, Category.all.order(:name), :id, :name,
            { prompt: "カテゴリーを選択してください（任意）"}, { multiple: true, size: 3, class: "form-select shadow rounded" } %>
          </div>
        </div>

        <div class="mb-3 row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg col-5" %>
        </div>
      </div>

    </div>

    <div div class="row text-center">
      <%= link_to '[ Cancel and return to articles listing ]',articles_path, class: "text-info text-decoration-none" %>
    </div>
  </div>
</div>
